[Unit]
Description=Check for grammar-bot updates every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=grammar-update.service

[Install]
WantedBy=timers.target
